@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "new";
  src: url(../font/cinderblock-75.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "circe";
  src: url(../font/Circe-Regular.ttf) format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "circe";
  src: url(../font/Circe-Bold.ttf) format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "circe";
  src: url(../font/Circe-ExtraBold.ttf) format("ttf");
  font-weight: 800;
}
@font-face {
  font-family: "druk-text";
  src: url(../font/Druk-Text-Wide-Cyr-Super.otf) format("otf");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
  line-height: 1;
}

li {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

img {
  object-fit: cover;
  vertical-align: top;
}

body {
  font-family: "Pretendard";
  background-color: #ddd;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  color: #28282e;
}

.inner {
  padding: 2vw 5vw;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3em;
  line-height: 23px;
  z-index: 1001;
}
#header .logo {
  padding: 10px 20px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
}
#header .logo a {
  display: block;
}
#header .menu-area .menu-list {
  display: flex;
  gap: 25px;
  font-size: 1em;
}
#header .menu-area .menu-item a {
  display: block;
}

#footer {
  position: relative;
  background: #28282e;
}
#footer .inner {
  padding: 50px 5vw 100px 5vw;
  text-transform: uppercase;
  color: #fff;
}
#footer .title {
  font-size: 15vw;
  font-family: "new";
  text-align: center;
}
#footer .addr-area {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  text-transform: uppercase;
}
#footer .addr-area a {
  display: block;
  padding: 20px 25px;
  border: 1px solid #fff;
  border-radius: 50px;
}
#footer .addr-area a:hover {
  background-color: #fff;
  color: #000;
}

.cursor {
  position: fixed;
  width: 75px;
  height: 75px;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  border-radius: 50%;
}
.cursor .wrap {
  display: flex;
  flex-direction: column;
}

.page-load {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translate(0px, -100%);
  transition: transform 2s;
}
.page-load.open {
  transform: translate3d(0, 0%, 0);
  transition: transform 0s;
}
.page-load .page-inner {
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
.page-load .page-inner .name {
  display: block;
  font-size: 5em;
  font-family: "druk-text";
  font-weight: 800;
  margin-bottom: 20px;
}
.page-load .page-inner span {
  display: block;
  font-size: 2em;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(https://jeon-hyerin.github.io/landing/assets/images/bg/overlay.gif);
  background-position: 0 0;
  background-size: 250px;
  opacity: 0.1;
  pointer-events: none;
  z-index: 300;
}

.sc-main {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.sc-main .inner {
  display: flex;
  height: 100%;
}
.sc-main .title-area {
  height: 100%;
  display: flex;
  align-items: center;
}
.sc-main .title-area .title {
  display: block;
  max-width: 800px;
  width: 100%;
  font-size: 20vw;
  text-transform: uppercase;
  opacity: 1;
  white-space: nowrap;
  font-family: "new";
}
.sc-main .deco1 {
  position: absolute;
  left: 2vw;
  bottom: 5vw;
  max-width: 30vw;
  line-height: 1.2;
}
.sc-main .deco2 {
  position: absolute;
  top: 2vw;
  left: 30vw;
  line-height: 1.2;
}
.sc-main .deco3 {
  position: absolute;
  right: 2vw;
  bottom: 20vw;
  max-width: 30vw;
  line-height: 1.2;
}
.sc-main .img-box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}
.sc-main .img-box.box1 {
  top: 2vw;
  left: 50vw;
}
.sc-main .img-box.box2 {
  width: 200px;
  height: 200px;
  top: 10vw;
  right: 2vw;
}
.sc-main .img-box.box3 {
  width: 300px;
  height: 300px;
  right: 20vw;
  bottom: 0vw;
}

.sc-work {
  height: 100vh;
  margin-top: 100vh;
}
.sc-work .swiper {
  height: 100%;
}
.sc-work .btn {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  width: 150px;
  background: #f00;
}
.sc-work .btn.prev {
  left: 0;
  background: rgb(40, 40, 46);
  background: linear-gradient(93deg, rgb(40, 40, 46) 39%, rgba(40, 40, 46, 0) 70%);
}
.sc-work .btn.next {
  right: 0;
  background: rgb(40, 40, 46);
  background: linear-gradient(281deg, rgb(40, 40, 46) 39%, rgba(40, 40, 46, 0) 70%);
}
.sc-work .swiper-wrapper .swiper-slide {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #28282e;
  color: #fff;
}
.sc-work .swiper-wrapper .swiper-slide .img-area {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}
.sc-work .swiper-wrapper .swiper-slide .img-area.img1 {
  top: 2vw;
  left: 50vw;
}
.sc-work .swiper-wrapper .swiper-slide .img-area.img2 {
  width: 200px;
  height: 200px;
  top: 10vw;
  right: 2vw;
}
.sc-work .swiper-wrapper .swiper-slide .img-area.img3 {
  width: 300px;
  height: 300px;
  right: 20vw;
  bottom: 5vw;
}
.sc-work .swiper-wrapper .swiper-slide .des-area {
  width: 600px;
}
.sc-work .swiper-wrapper .swiper-slide .des-area h3 {
  font-size: 15vw;
  font-family: "new";
  margin-bottom: 20px;
  white-space: nowrap;
}
.sc-work .swiper-wrapper .swiper-slide .des-area p {
  font-size: 1.3em;
  line-height: 31px;
  margin-bottom: 30px;
}
.sc-work .swiper-wrapper .swiper-slide .des-area .btn-box {
  font-size: 14px;
  line-height: 24px;
  display: flex;
  gap: 50px;
}
.sc-work .swiper-wrapper .swiper-slide .des-area .btn-box a {
  display: block;
  text-transform: uppercase;
}
.sc-work .swiper-wrapper .swiper-slide .des-area .btn-box a::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  margin-left: 5px;
}
.sc-work .swiper-wrapper .swiper-slide .des-area .btn-box a:hover {
  text-decoration: underline;
}
.sc-work .swiper-pagination {
  bottom: 10%;
  --swiper-theme-color: #9281ff;
}