@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'new';
    src: url(../font/cinderblock-75.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'circe';
    src: url(../font/Circe-Regular.ttf) format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'circe';
    src: url(../font/Circe-Bold.ttf) format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'circe';
    src: url(../font/Circe-ExtraBold.ttf) format('ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'druk-text';
    src: url(../font/Druk-Text-Wide-Cyr-Super.otf) format('otf');
    font-weight: 400;
}